html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

h1,
h2,
button {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(184,233,233);
  background: radial-gradient(circle, rgba(184,233,233,1) 0%, rgba(148,187,233,1) 100%);
}

#bubbles {
  position: fixed;
  z-index: -1; 
  background:#477ab9;
  width:100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  }

#bubbles:hover { 
  background:#3D689C;
}

.container {
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
}

.header {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,.7) 0%, rgba(255,0,243,.7) 90%);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header__title {
  padding-top: 25px;
  font-size: 38px;
  font-weight: 700;
  color: white;
  text-align: center;
}

.header__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 1;
}

.label {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  -webkit-text-stroke: 1px #6868e4;
}

.label input {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 10px;
  border: 2px solid #CCCCFF;
  padding: 10px;
  transition: outline .3s ease-in-out;
}

.label input:focus-visible {
  outline: none;
  outline: 2px solid #6868e4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.label__tippy {
  padding-top: 10px;
}

.tooltip-hidden {
  display: none;
}

.tippy-box[data-animation='rotate'][data-state='hidden'] {
  opacity: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.tippy-box[data-theme~='violet'] {
  background-color: #490742;
  color: white;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  border-radius: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

.tippy-box[data-placement^=top]>.tippy-arrow {
  color: #490742;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.label__tippy svg {
  width: 25px;
  height: 25px;
}

.label__tippy svg .backg {
  color: #8BB7F0;
  transition: all .3s ease-in-out;
}

.label__tippy:hover svg .backg {
  color: #c22cb1;
}

.count__title {
  font-size: 24px;
  font-weight: 900;
  color: white;
  -webkit-text-stroke: 1px #6868e4;
}

.begin,
.end {
  padding: 12px 30px;
  border-radius: 100px;
  font-size: 24px;
  font-weight: 400;
  color: white;
  background-color: #6868e4;
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  transition: all .3s ease-in-out;
}

.begin:active,
.end:active {
  box-shadow: none;
}


.cards__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

}

.end {
  position: absolute;
  content: "";
  top: 50%;
  display: block;
  z-index: 10;
  padding: 20px 40px;
  display: none;
  border-radius: 5px;
}

.end.active {
  display: block;
}

.cards__container.active {
  pointer-events: auto;
  filter: none;
}

.cards__list {
  padding-top: 30px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  list-style-type: none;
}

.flip-container {
  perspective: 1000;
  border-radius: 10px;
}

.flip-container:not(:last-child) {
  margin-right: 25px;
  margin-bottom: 25px;
}

.flip-container,
.card__front,
.card__back {
  width: 120px;
  height: 175px;
  overflow: hidden;
}

.flipper {
  transition: .6s;
  transform-style: preserve-3d;
  position: relative;
  border-radius: 10px;
}

.card__front,
.card__back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.card__front {
  z-index: 2;
  background: url('../img/face.jpg') center no-repeat;
  border-radius: 11%;
  background-size: cover;
}

.card__back {
  transform: rotateY(180deg);
  background-color: #CCCCFF;
  font-size: 40px;
  font-weight: 700;
  background: url('../img/back.jpg') center no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 60px 30px;
  border-radius: 11%;
}

.flip-container.open .flipper {
  transform: rotateY(180deg);
}

.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  text-align: center;
  z-index: 5;
}

@media (max-width: 1200px) {

  .header__controls {
    flex-direction: column;
  }

  .label {
    margin-bottom: 20px;
  }

  .count__title {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .header__title {
    font-size: 28px;
  }

  .label {
    font-size: 14px;
  }

  .label__tippy {
    padding-top: 0;
  }

  .label__tippy svg {
    width: 30px;
    height: 20px;
  }

  .label input {
    width: 40px;
    height: 30px;
  }

  .count__title {
    font-size: 18px;
  }

  .begin, .end {
    font-size: 18px;
  }

  .flip-container,
  .card__front,
  .card__back {
    width: 60px;
    height: 87px;
    overflow: hidden;
  }

  .card__back {
    font-size: 25px;
    padding: 28px 20px;
  }
}

@media (max-width: 768px) {
  .flip-container,
  .card__front,
  .card__back {
    width: 50px;
    height: 77px;
    overflow: hidden;
  }

  .card__back {
    font-size: 24px;
    padding: 25px 18px;
  }
}



